<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>婚礼之家 - 用心办好您的婚礼</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="stylesheet" href="/templets/zzxhao.com/style/style.css"/>
    <link rel="stylesheet" href="/templets/zzxhao.com/style/bride.css"/>
<body>
<div class="global_wrap">
    <div class="topic_header">
        <div class="tpheader_wrapper">
            <div class="logo">
            </div>
            <ul class="nav">
                <li><a href="/">首页</a></li>
                
                <li><a href="/a/hunligonglue/">婚礼攻略</a></li>
                <li><a href='/a/xinniangbizhi/' class='thisclass'>新娘必知</a></li>
                <li><a href="/a/sirendingzhi/">私人定制</a></li>
                
                <li><a href="/a/xinwenzhongxin/">新闻中心</a></li>
                
            </ul>
            <div class="tel">
                <p>全国统一客服电话</p>
                <h2>400-018-1111</h2>
            </div>
        </div>
    </div>
    <div class="banner">
    </div>
    <div class="row1">
        <div class="b_wrapper">
            <p>
                每一新娘都会希望自己的婚礼可以完美无缺，自己在婚礼上也是个完美的新娘，在人生当中最
                重要的一天，不留一点遗憾。想要做一个完美新娘的你，那么新娘必知的婚礼前一天注意事项你就必须要看一看了。
            </p>

            <a href="javascript:;" class="go_btn" id="go_btn">
                预约婚礼顾问
            </a>
        </div>
    </div>
    <div class="row2 row_even">
        <div class="b_wrapper">
            <div class="row_main">
                <p>
                    充分</br>
                    准备
                </p>
                <div class="main_logo">
                </div>
            </div>
            <div class="con">
                婚礼是每个新娘的美好梦想，每个新娘希望都在自己人生中最美好的年华，和最心爱的人一起共享这人生中最幸福的时刻。那么在人生中这么重要的时刻，作为新娘的你，一定是希望自己完美无缺的，那在婚礼举行的前一天，做一个100分完美新娘。
            </div>
        </div>
    </div>
    <div class="row3 row_odd bg_pink">
        <div class="b_wrapper">
            <div class="col_l">

            </div>
            <div class="col_r">
                <div class="row_main">
                    <p>
                        注重</br>
                        细节
                    </p>
                    <div class="main_logo">
                    </div>
                </div>
                <div class="con">
                    在婚礼举行的前一晚，新娘一定要再把明天的结婚流程细心想一次，想想当中有没有什么遗漏的，然后再熟读第二天结婚的整个程序，避免婚礼时过分紧张或时间太赶而错了程序。然后再把自己明天要用到的物品清理一下，例如婚纱婚鞋，补妆的包等。
                </div>
            </div>
        </div>
    </div>
    <div class="row4 row_even">
        <div class="b_wrapper">
            <div class="row_main">
                <p>
                    及时</br>
                    沟通
                </p>
                <div class="main_logo">
                </div>
            </div>
            <div class="con">
                新娘一定不要忘记再一次提醒化妆师到达的时间及地点，以免因为化妆事宜而误了出门的吉时。此外，亦要联络婚宴的总负责人，好让大家有最好的沟通，让一切程序在第二天得以顺利进行。
            </div>
        </div>
    </div>
    <div class="row5 row_odd bg_blue">
        <div class="b_wrapper">
            <div class="col_l">

            </div>
            <div class="col_r">
                <div class="row_main">
                    <p>
                        注意</br>
                        饮食
                    </p>
                    <div class="main_logo">
                    </div>
                </div>
                <div class="con">
                    在婚礼的前一天甚至是一周的饮食应该以清淡为主。早餐要吃的简单营养，如：三明治、鸡蛋、牛奶等，避免喝茶或咖啡，以免晚上不能入睡。晚餐需尽量吃的早一点，免得睡前胃胀，难以入睡。另外，还要避免在晚上十点之后喝过多的水，以免第二天水肿。
                </div>
            </div>
        </div>
    </div>
    <div class="row6 row_even">
        <div class="b_wrapper">
            <div class="row_main">
                <p>
                    美容</br>
                    保养
                </p>
                <div class="main_logo">
                </div>
            </div>
            <div class="con">
                在婚礼举行的前一天来一次完美的美容保养。用自己最常用的面膜，最好不要是新产品，以免皮肤发生过敏。再好好泡一个舒缓的浴澡，可在澡盆里加点香油，让全身得到最全面的放松，以最佳状态迎接明天一连串的婚礼活动。最后，当然不少得是为腋窝、手及脚部脱毛，让自己拥有最白暂的肌肤穿起婚纱。
            </div>
        </div>
    </div>
    <div class="row7 row_odd bg_pink">
        <div class="b_wrapper">
            <div class="col_l">

            </div>
            <div class="col_r">
                <div class="row_main">
                    <p>
                        放松</br>
                        心情
                    </p>
                    <div class="main_logo">
                    </div>
                </div>
                <div class="con">
                    新娘在临近婚礼的时候总是容易兴奋紧张，虽然新娘们都知道睡觉的重要，但婚礼前夜总不免有点紧张，若真的是过度兴奋难以入眠，可试试喝杯温牛奶或甘菊花茶，都可以帮助新娘睡个好觉。此外，在枕上洒一些薰衣草香薰喷雾，也能舒缓放松，睡个好觉哦。
                </div>
            </div>
        </div>
    </div>
    <div class="row8 row_even">
        <div class="b_wrapper">
            <div class="row_main">
                <p>
                    细微</br>
                    小节
                </p>
                <div class="main_logo">
                </div>
            </div>
            <div class="con">
                任何一个细微的细节都不要忽略哦。不少准新人只顾婚纱、礼服妆容是否妥当，往往忽略了一些微细的小节，那就是手机电池是否准备妥当。婚前当晚新人应该为手机提前充好足够的电，以便第二天与伴娘或亲朋保持联络。
            </div>
        </div>
    </div>
    <div class="row9 row_odd bg_blue">
        <div class="b_wrapper">
            <div class="col_l">

            </div>
            <div class="col_r">
                <div class="row_main">
                    <p>
                        私人</br>
                        用品
                    </p>
                    <div class="main_logo">
                    </div>
                </div>
                <div class="con">
                    除了结婚当天的化妆品外，新娘还应该自备一些私人永平哦，是自己平日惯常使用，例如需要补妆的化妆品什么的，以备不时之需，如新娘佩带戴隐形眼镜的，应多备一对后备隐形眼镜、眼药水等，可以让自己在最佳的状态下完成结婚程序。
                </div>
            </div>
        </div>
    </div>
    <div class="row10 row_even">
        <div class="b_wrapper">
            <p>
                大家都知道在婚礼当太难，一般行程都是非常紧凑，新人很多时候可能连吃饭的时间也没有，那新娘可自备一些自己喜欢的零食，如小饼干条、朱古力糖、干果等、最重要是分量少，可一口吃下，又不会弄花唇部妆容，以备肚子饿的时候可以临时充饥。
            </p>
            <p>
                在这里，婚礼之家的小编要提醒新娘们，在婚礼之前一定要做好充分的准备，切记别丢三落四，影响整个婚礼的过程。希望每对新人都能有难忘的婚礼。
            </p>
            <a href="javascript:;" class="go_btn">
                立即咨询
            </a>
        </div>
    </div>
    <div class="footer">
        <div class="wrapper">
            <div class="top_con">
                <div class="col_l">

                </div>
                <div class="con col_l">
                    <span>400-018-1111</span>
                </div>
                <div class="col_r">

                </div>
            </div>
            <div class="bottom_con">
                <ul>
                    <li class="first"><a href="/">首页</a></li>
                    <li><a href="/a/hunligonglue/">婚礼攻略</a></li>
                    <li><a href="/a/xinniangbizhi/">新娘必知</a></li>
                    <li><a href="/a/guanyuwomen/">关于我们</a></li>
                    <li><a href="/a/lianxiwomen/">联系我们</a></li>
                </ul>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="last_" style="color: #737373;">
            版权所有：济南永东网络科技有限公司 鲁ICP备17012804号-1
        </div>
    </div>
</div>
><!--global_wrap  end-->

<!--<div class="inBox">-->
    <!--<div class="popBox" id="form">-->
        <!--<a class="popBox_close" id="popBox_close">-->
            <!--<img src="/templets/zzxhao.com/img/popBox_close.png"/>-->
        <!--</a>-->
        <!--<h2>轻松搞定你的婚礼</h2>-->
        <!--<p>为您打造一场高性价比的婚礼</p>-->
        <!--<form>-->
            <!--<div class="form" id="form">-->
                <!--<div class="form-control">-->
                    <!--<select class="city_select">-->
                        <!--<option>-->
                            <!--婚礼城市-->
                        <!--</option>-->
                        <!--<option v-for="yx in YX">-->
                            <!--{{yx.text}}-->
                        <!--</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="form-control">-->
                    <!--<input type="text" placeholder="选择婚期" id="date"/>-->
                <!--</div>-->
                <!--<div class="form-control">-->
                    <!--<input type="text" placeholder="姓名" v-model="name"/>-->
                <!--</div>-->
                <!--<div class="form-control">-->
                    <!--<input type="text" placeholder="手机号" v-model="tel"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<a v-on:click="action">立即提交</a>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->
<script type="text/javascript" src="/templets/zzxhao.com/style/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/templets/zzxhao.com/style/gather.js"></script>
<script type="text/javascript" src="/templets/zzxhao.com/style/vue.js"></script>
<script type="text/javascript" src="/templets/zzxhao.com/style/city.js"></script>
<script type="text/javascript" src="/templets/zzxhao.com/style/WdatePicker.js"></script>
<!--<script type="application/javascript">-->
    <!--var app = new Vue({-->
        <!--el: '#form',-->
        <!--data: {-->
            <!--name: "",-->
            <!--tel: "",-->
            <!--yuyuetime: "",-->
            <!--YX: ""-->
        <!--},-->
        <!--mounted: function () {-->
            <!--this.YX = getList();-->
        <!--},-->
        <!--methods: {-->
            <!--action: function () {-->
                <!--if ($(".city_select").find("option:selected").val() == "婚礼城市") {-->
                    <!--hunli.alert('请确定城市！');-->
                <!--} else if ($("#date").val().length <= 0) {-->
                    <!--hunli.alert('请选择婚期！');-->
                <!--}-->
                <!--else if (this.name.length <= 0) {-->
                    <!--hunli.alert('姓名不能为空！');-->
                <!--} else if (this.tel.length <= 0) {-->
                    <!--hunli.alert('手机号不能为空！');-->
                <!--}-->
                <!--else if (!(/^1[34578]\d{9}$/.test(this.tel))) {-->
                    <!--hunli.alert('手机号格式不对！');-->
                <!--} else {-->
                    <!--var params = {-->
                        <!--tel: this.tel,-->
                        <!--name: this.name,-->
                        <!--city: $(".city_select").find("option:selected").val(),-->
                        <!--yuyuetime: $("#date").val(),-->
                        <!--callback: function () {-->
                            <!--hunli.alert('恭喜您！已提交成功！');-->
                        <!--}-->
                    <!--}-->
                    <!--onsubmit(params);-->
                <!--}-->
            <!--}-->
        <!--}-->
    <!--})-->

    <!--$(document).ready(function () {-->
        <!--$("#date").dateSelect();-->
        <!--$(".go_btn").hover(function () {-->
            <!--$(".inBox").fadeIn();-->
        <!--})-->
        <!--$("#popBox_close").click(function () {-->
            <!--$(".inBox").hide();-->
        <!--})-->
        <!--$("input").placeholder();-->
    <!--})-->
<!--</script>-->
</body>
</html>
<!--侧边固定客服模块-->
<!--<script language="javascript" src="/templets/zzxhao.com/style/LsJS.aspx"></script>-->