<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{dede:global.cfg_webname/}</title>
		<meta name="keywords" content="{dede:global.cfg_keywords/}" />
		<meta name="description" content="{dede:global.cfg_description/}" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<link rel="stylesheet" href="{dede:global.cfg_templets_skin/}/style/style.css" />
		<link rel="stylesheet" href="{dede:global.cfg_templets_skin/}/style/raiders.css" />	
	</head>
	<body>
		<div class="global_wrap">
		  	
		  	<div class="topic_header">
			  <div class="tpheader_wrapper">
			  	   <div class="logo">
			  	   </div>
			  	    <ul class="nav">
						<li><a href="{dede:global.cfg_indexurl/}">首页</a></li>
						{dede:channel row='4'  type ='top'   currentstyle="<li><a href='~typelink~' class='thisclass'>~typename~</a> </li>" }
						<li><a href="[field:typelink/]">[field:typename/]</a></li>
						{/dede:channel}
			  	   </ul>
			  	   <div class="tel">
			  	   	     <p>全国统一客服电话</p>
		      	         <h2>{dede:global.cfg_beian/}</h2>
			  	   </div>
			  </div>
			</div><!--topic_header end-->
		    <div class="banner">
		    	<div class="go_btn">	
		    	</div>
		    </div>
		    
		    <div class="row1">
		    	<div class="con">
		    		<p class="title">
		    			关于我们
		    		</p>
					
					<p style="padding: 50px;font-size: 18px;">
						{dede:sql sql='Select content from dede_arctype where id=4'}
						[field:content/]
						{/dede:sql}
					</p>
		    	</div>
		    </div>
		    
		   
		    <div class="footer">
	     	 <div class="wrapper">
	     		<div class="top_con">
	     			<div class="col_l">
	     				
	     			</div>
	     			<div class="con col_l">
						<span>{dede:global.cfg_beian/}</span>
	     			</div>
					<a href="tencent://message/?uin=487778743&Site=-&Menu=yes">
						<div class="col_r">

						</div>
					</a>

	     		</div>
	     		<div class="bottom_con">
	     			<ul>
						<li class="first"><a href="{dede:global.cfg_indexurl/}" >首页</a></li>
						{dede:type row='4'  typeid ='1'}
						<li><a href="[field:typelink/]">[field:typename/]</a></li>
						{/dede:type}
						{dede:type row='4'  typeid ='2'}
						<li><a href="[field:typelink/]">[field:typename/]</a></li>
						{/dede:type}
						{dede:type row='4'  typeid ='6'}
						<li><a href="[field:typelink/]">[field:typename/]</a></li>
						{/dede:type}
						{dede:type row='4'  typeid ='7'}
						<li><a href="[field:typelink/]">[field:typename/]</a></li>
						{/dede:type}
	     			</ul>
	     		</div>
	     	</div>
	     	<div style="clear: both;"></div>
	     	<div class="last_" style="color: #737373;">
				{dede:global.cfg_powerby/}
	     	</div>
	     </div> 
		 </div>
		</div><!--global_wrap-->
			<div class="inBox">
			<div class="popBox" id="form">
				<a class="popBox_close" id="popBox_close">
					<img src="{dede:global.cfg_templets_skin/}/img/popBox_close.png"/>
				</a>
				<h2>轻松搞定你的婚礼</h2>
				<p>为您打造一场高性价比的婚礼</p>
				<form>
					<div class="form">
					  <div class="form-control">
						<select class="city_select">
							<option>
                                                             婚礼城市
                                 </option>
	      	  		   	 	     <option v-for="yx in YX">
                                    {{yx.text}}
                                 </option>
						</select>
					  </div>
					  <div class="form-control">
						  <input type="text" placeholder="选择婚期" id="date"/>
					  </div>
					  <div class="form-control">
						 <input type="text" placeholder="姓名" v-model="name" />
					  </div>
					  <div class="form-control">
						 <input type="text" placeholder="手机号" v-model="tel"/>
					  </div>
				  </div>
				   <div class="form-group">
				   	  <a v-on:click="action">立即提交</a>
				   </div>
				</form>
			</div>
		</div>
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js "></script>

		<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/style/gather.js" ></script>
	    <script type="text/javascript" src="{dede:global.cfg_templets_skin/}/style/vue.js" ></script>
		<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/style/city.js" ></script>
        <script type="text/javascript" src="{dede:global.cfg_templets_skin/}/style/WdatePicker.js" ></script>
		<script type="application/javascript">
		      var app = new Vue({
			    el: '#form',		
			  data:{	   		  
	   		   	name:"",
	   		  	tel:"",
	   		  	yuyuetime:"",
	   		   	YX:""
	   		  },
	   		 mounted:function(){
		          this.YX=getList();
	         },  
	   		  methods:{
	   		  	action:function(){
	   		  		if($(".city_select").find("option:selected").val()=="婚礼城市"){
	   		 		  	hunli.alert('请确定城市！');
	   		 		}else if($("#date").val().length<=0){
	   		 			hunli.alert('请选择婚期！');
	   		 		}
	   		 		else if(this.name.length<=0){
                        hunli.alert('姓名不能为空！'); 	
	  	 	        }else if(this.tel.length<=0){
                         hunli.alert('手机号不能为空！');  	
	  	 	        }  
	  	 	        else if(!(/^1[34578]\d{9}$/.test(this.tel))){
                        hunli.alert('手机号格式不对！');   
	  	 	        }else{
	  	 	        	var params={
		                tel:this.tel,
		                name:this.name,
		                city:$(".city_select").find("option:selected").val(),
		                yuyuetime:$("#date").val(),
		                callback:function(){
					          hunli.alert('恭喜您！已提交成功！'); 
		                  }
	                   }
	                  onsubmit(params);	
	  	 	        }
	   		  	}
	   		  }
	         })
		
		      $(document).ready(function() {
		      	  $("#date").dateSelect();
	             var row1Top = $("#row1").offset().top - 442;
	             var row2Top = $("#row2").offset().top - 442;
	             var row3Top = $("#row3").offset().top - 442;
	             var row4Top = $("#row4").offset().top - 442;
	             var row5Top = $("#row5").offset().top - 442;
	             var scrolltop = $(document).scrollTop();
	                  active(scrolltop, row1Top, "row1-con");
	                  active(scrolltop, row2Top, "row2-con");
	                  active(scrolltop, row3Top, "row3-con");
	                  active(scrolltop, row4Top, "row4-con");
	                  active(scrolltop, row5Top, "row5-con");
	             $(window).scroll(function(event) {
		               scrolltop = $(document).scrollTop();
		               active(scrolltop, row1Top, "row1-con");
		               active(scrolltop, row2Top, "row2-con");
		               active(scrolltop, row3Top, "row3-con");
		               active(scrolltop, row4Top, "row4-con");
		               active(scrolltop, row5Top, "row5-con");
	             }); 
	             $(".go_btn").hover(function(){
					  $(".inBox").fadeIn();
				    })
				  $("#popBox_close").click(function(){
					$(".inBox").hide();
				  })
				   $("input").placeholder(); 
             })
		      function active(scroTop, inerTop, inner) {
		          if(scroTop >= inerTop) {
			          $("#" + inner).animate({
				         top: 100 + "px"
			     }, 500);
		        }
	          }
	</script>
		<script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "  https://hm.baidu.com/hm.js?46b8e483300dcaf0738f3f61f76462c5 ";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
		</script>
	</body>
</html>
<!--侧边固定客服模块-->
<!--<script language="javascript" src="{dede:global.cfg_templets_skin/}/style/LsJS.aspx"></script>-->