<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>婚礼之家 - 用心办好您的婚礼</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<link rel="stylesheet" href="/templets/zzxhao.com/style/style.css" />
		<link rel="stylesheet" href="/templets/zzxhao.com/style/raiders.css"/>
	</head>
	<body>
		<div class="global_wrap">
		  	
		  	<div class="topic_header">
			  <div class="tpheader_wrapper">
			  	   <div class="logo">
			  	   </div>
			  	    <ul class="nav">
						<li><a href="/">首页</a></li>
						<li><a href='/a/hunligonglue/' class='thisclass'>婚礼攻略</a> </li>
						<li><a href="/a/xinniangbizhi/">新娘必知</a></li>
						
						<li><a href="/a/sirendingzhi/">私人定制</a></li>
						
						<li><a href="/a/xinwenzhongxin/">新闻中心</a></li>
						
			  	   </ul>
			  	   <div class="tel">
			  	   	     <p>全国统一客服电话</p>
		      	         <h2>400-018-1111</h2>
			  	   </div>
			  </div>
			</div><!--topic_header end-->
		    <div class="banner">
		    	<div class="go_btn">	
		    	</div>
		    </div>
		    
		    <div class="row1">
		    	<div class="con">
		    		<p class="title">
		    			为您打造一场高性价比的婚礼
		    		</p>
		    		<ul>
		    			<li>
		    			   <img src="/templets/zzxhao.com/img/r_row1_i1.png"/>
		    			   <p>多对一贴心服务</p>
		    			</li>
		    			<li>
		    				<img src="/templets/zzxhao.com/img/r_row1_i2.png"/>
		    			    <p>全程监督服务质量</p>
		    			</li>
		    			<li>
		    				<img src="/templets/zzxhao.com/img/r_row1_i3.png"/>
		    			    <p>注重你的婚礼品质</p>
		    			</li>
		    		</ul>
		    	</div>
		    </div>
		    
		    <div class="row2">
		    	<p class="title">
		    		五个细节让您的婚礼更惊艳
		    	</p>
		    	<div class="line">
		    		<p>Wedding Home</p>
		    	</div>
		    	
		    	<div class="row_odd">
		    		<div class="r_wrapper">
		    			<div class="con" id="row1-con">
		    				 <div class="row_main">
					 	       <img src="/templets/zzxhao.com/img/r_row2_i1.png"/>
					        </div>
					        <div class="con_c">
					        	新娘的身体护理工作要提前一个月进行，早睡再起，多吃蔬菜水果及易消化的食物，既可以保持身材又能荣光焕发，精神奕奕。提前一周做SPA、美甲等护理，提前两天除腋毛。
					        </div>
		    			</div>
		    			<div class="right">
		    			   <img src="/templets/zzxhao.com/img/r_row_i1.png" id="row1"/>
		    		    </div>
		    		</div>
		    	</div>
		    	<div class="row_even">
		    		<div class="r_wrapper">
		    			<div class="con" id="row2-con">
		    				 <div class="row_main">
					 	       <img src="/templets/zzxhao.com/img/r_row2_i2.png"/>
					        </div>
					        <div class="con_c">
					        	婚期还有10天的时候就要开始到店里选婚纱和礼服了，不然晚了就都被别人选走了，剩下的要么是不好看的，要么是旧的，后悔都来不及，跟公司扯皮更是开来不及了。记住，自己的事，只有自己积极点，别的任何人都是靠不住的。
					        </div>
		    			</div>
		    			<div class="left">
		    			   <img src="/templets/zzxhao.com/img/r_row_i2.png" id="row2"/>
		    		    </div>
		    		</div>
		    	</div>
		    	<div class="row_odd">
		    		<div class="r_wrapper">
		    			<div class="con" id="row3-con">
		    				 <div class="row_main">
					 	       <img src="/templets/zzxhao.com/img/r_row2_i3.png"/>
					        </div>
					        <div class="con_c">
					        	婚期还有一周左右的时候，就主动联系婚庆公司的人，把主题确定下来。比如说，婚礼现场的大背景、大色调、具体布置、鲜花、T台等。离婚期还有一周左右的时候。就主动联系婚庆公司的人，把主题确定下来。比如说，婚礼现场的大背景、大色调、具体布置、鲜花、T台等。
					        </div>
		    			</div>
		    			<div class="right">
		    			   <img src="/templets/zzxhao.com/img/r_row_i3.png" id="row3"/>
		    		    </div>
		    		</div>
		    	</div>
		    	<div class="row_even">
		    		<div class="r_wrapper">
		    			<div class="con" id="row4-con">
		    				 <div class="row_main">
					 	       <img src="/templets/zzxhao.com/img/r_row2_i4.png"/>
					        </div>
					        <div class="con_c">
					        	婚期还有两天的时候，就找到婚礼主持人，当面确定仪式的风格，是幽默型的还是动感型的，或是其他什么类型的。还有仪式的大概流程，需要新郎新娘具体做哪些准备。双方父母是否需要发言，是否需要先把发言稿准备好，证婚人找谁，现场如果有游戏环节，是否需要准备红包，伴娘伴郎花童是否都已到位，等等。
					        </div>
		    			</div>
		    			<div class="left">
		    			   <img src="/templets/zzxhao.com/img/r_row_i4.png" id="row4"/>
		    		    </div>
		    		</div>
		    	</div>
		    	<div class="row_odd">
		    		<div class="r_wrapper">
		    			<div class="con" id="row5-con">
		    				 <div class="row_main">
					 	       <img src="/templets/zzxhao.com/img/r_row2_i5.png"/>
					        </div>
					        <div class="con_c">
					        	最值得大家记住的，那就是在婚礼正式开始前，新娘最好不要出现在各位宾客的视野中，大家越是想看，就越要深藏不露。这样，在婚礼开始的时候，新娘子百分之百的会让大家惊艳到！！
					        </div>
		    			</div>
		    			<div class="right">
		    			   <img src="/templets/zzxhao.com/img/r_row_i5.png" id="row5"/>
		    		    </div>
		    		</div>
		    	</div>
		    	
		    	<div class="row3">
		    		 <a href="javascript:;" class="go_btn">
				     	   立即咨询
				     </a>
				     <div class="line">
				     	<p>Wedding Home</p>
				     </div>
		    	</div>
		    	 <div class="footer">
	     	 <div class="wrapper">
	     		<div class="top_con">
	     			<div class="col_l">
	     				
	     			</div>
	     			<div class="con col_l">
						<span>400-018-1111</span>
	     			</div>
	     			<div class="col_r">
	     				
	     			</div>
	     		</div>
	     		<div class="bottom_con">
	     			<ul>
						<li class="first"><a href="/" >首页</a></li>
						<li><a href="/a/hunligonglue/">婚礼攻略</a></li>
						<li><a href="/a/xinniangbizhi/">新娘必知</a></li>
						<li><a href="/a/guanyuwomen/">关于我们</a></li>
						<li><a href="/a/lianxiwomen/">联系我们</a></li>
	     			</ul>
	     		</div>
	     	</div>
	     	<div style="clear: both;"></div>
	     	<div class="last_" style="color: #737373;">
				版权所有：济南永东网络科技有限公司 鲁ICP备17012804号-1
	     	</div>
	     </div> 
		 </div>
		</div><!--global_wrap-->
			<div class="inBox">
			<div class="popBox" id="form">
				<a class="popBox_close" id="popBox_close">
					<img src="/templets/zzxhao.com/img/popBox_close.png"/>
				</a>
				<h2>轻松搞定你的婚礼</h2>
				<p>为您打造一场高性价比的婚礼</p>
				<form>
					<div class="form">
					  <div class="form-control">
						<select class="city_select">
							<option>
                                                             婚礼城市
                                 </option>
	      	  		   	 	     <option v-for="yx in YX">
                                    {{yx.text}}
                                 </option>
						</select>
					  </div>
					  <div class="form-control">
						  <input type="text" placeholder="选择婚期" id="date"/>
					  </div>
					  <div class="form-control">
						 <input type="text" placeholder="姓名" v-model="name" />
					  </div>
					  <div class="form-control">
						 <input type="text" placeholder="手机号" v-model="tel"/>
					  </div>
				  </div>
				   <div class="form-group">
				   	  <a v-on:click="action">立即提交</a>
				   </div>
				</form>
			</div>
		</div>
		<script type="text/javascript" src="/templets/zzxhao.com/style/jquery-2.1.1.min.js" ></script>
		<script type="text/javascript" src="/templets/zzxhao.com/style/gather.js" ></script>
	    <script type="text/javascript" src="/templets/zzxhao.com/style/vue.js" ></script>
		<script type="text/javascript" src="/templets/zzxhao.com/style/city.js" ></script>
        <script type="text/javascript" src="/templets/zzxhao.com/style/WdatePicker.js" ></script>
		<script type="application/javascript">
		      var app = new Vue({
			    el: '#form',		
			  data:{	   		  
	   		   	name:"",
	   		  	tel:"",
	   		  	yuyuetime:"",
	   		   	YX:""
	   		  },
	   		 mounted:function(){
		          this.YX=getList();
	         },  
	   		  methods:{
	   		  	action:function(){
	   		  		if($(".city_select").find("option:selected").val()=="婚礼城市"){
	   		 		  	hunli.alert('请确定城市！');
	   		 		}else if($("#date").val().length<=0){
	   		 			hunli.alert('请选择婚期！');
	   		 		}
	   		 		else if(this.name.length<=0){
                        hunli.alert('姓名不能为空！'); 	
	  	 	        }else if(this.tel.length<=0){
                         hunli.alert('手机号不能为空！');  	
	  	 	        }  
	  	 	        else if(!(/^1[34578]\d{9}$/.test(this.tel))){
                        hunli.alert('手机号格式不对！');   
	  	 	        }else{
	  	 	        	var params={
		                tel:this.tel,
		                name:this.name,
		                city:$(".city_select").find("option:selected").val(),
		                yuyuetime:$("#date").val(),
		                callback:function(){
					          hunli.alert('恭喜您！已提交成功！'); 
		                  }
	                   }
	                  onsubmit(params);	
	  	 	        }
	   		  	}
	   		  }
	         })
		
		      $(document).ready(function() {
		      	  $("#date").dateSelect();
	             var row1Top = $("#row1").offset().top - 442;
	             var row2Top = $("#row2").offset().top - 442;
	             var row3Top = $("#row3").offset().top - 442;
	             var row4Top = $("#row4").offset().top - 442;
	             var row5Top = $("#row5").offset().top - 442;
	             var scrolltop = $(document).scrollTop();
	                  active(scrolltop, row1Top, "row1-con");
	                  active(scrolltop, row2Top, "row2-con");
	                  active(scrolltop, row3Top, "row3-con");
	                  active(scrolltop, row4Top, "row4-con");
	                  active(scrolltop, row5Top, "row5-con");
	             $(window).scroll(function(event) {
		               scrolltop = $(document).scrollTop();
		               active(scrolltop, row1Top, "row1-con");
		               active(scrolltop, row2Top, "row2-con");
		               active(scrolltop, row3Top, "row3-con");
		               active(scrolltop, row4Top, "row4-con");
		               active(scrolltop, row5Top, "row5-con");
	             }); 
	             $(".go_btn").hover(function(){
					  $(".inBox").fadeIn();
				    })
				  $("#popBox_close").click(function(){
					$(".inBox").hide();
				  })
				   $("input").placeholder(); 
             })
		      function active(scroTop, inerTop, inner) {
		          if(scroTop >= inerTop) {
			          $("#" + inner).animate({
				         top: 100 + "px"
			     }, 500);
		        }
	          }
	</script>
	</body>
</html>
<!--侧边固定客服模块-->
<!--<script language="javascript" src="/templets/zzxhao.com/style/LsJS.aspx"></script>-->