<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>婚礼之家-用心办好您的婚礼</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <link rel="stylesheet" href="/templets/zzxhao.com/style/style.css" />
        <link rel="stylesheet" href="/templets/zzxhao.com/style/private.css" />
	</head>
	<body>
		 <div class="global_wrap">
			<div class="topic_header">
			  <div class="tpheader_wrapper">
			  	   <div class="logo">
			  	   </div>
			  	    <ul class="nav">
						<li><a href="/">首页</a></li>
						
						<li><a href="/a/hunligonglue/">婚礼攻略</a></li>
						
						<li><a href="/a/xinniangbizhi/">新娘必知</a></li>
						<li><a href='/a/sirendingzhi/' class='thisclass'>私人定制</a> </li>
						<li><a href="/a/xinwenzhongxin/">新闻中心</a></li>
						
			  	   </ul>
			  	   <div class="rest">  
			  	   	     <div class="reset_btn">
			  	   	     	 重置
			  	   	     </div>
		      	         <div>
		      	         	<h2>400-018-3536</h2>
		      	         </div> 
			  	   </div>
			  </div>
			</div><!--topic_header end-->
			<div class="contents_lr" style="background-image:url('http://s.jingzhizx.com/hl/w/img/bg_all.jpg');">
			  <div class="new_lr_body_1 js_select_part clear">
			  	   <div class="new1_pr_list">
			  	   	 <input type="hidden"  id="priceLow">
                     <input type="hidden" id="priceHigh">
			  	 	  <ul class="pr_list clear">
			  	 	  	<li data-price1="3000" data-price2="6000">
			  	           <p class="word">RMB</p>
			  	           <p class="num">
			  	           	3000</br>
			  	             ~
			  	           </br>6000</p>
			  	 	  	</li>
			  	 	  	<li data-price1="6000" data-price2="8000">
			  	           <p class="word">RMB</p>
			  	           <p class="num">
			  	           	6000</br>
			  	             ~
			  	           </br>8000</p>
			  	 	  	</li>
			  	 	  	<li data-price1="8000" data-price2="10000">
			  	           <p class="word">RMB</p>
			  	           <p class="num">
			  	           	8000</br>
			  	             ~
			  	           </br>10000</p>
			  	 	  	</li>
			  	 	  	<li data-price1="10000" data-price2="12000">
			  	           <p class="word">RMB</p>
			  	           <p class="num">
			  	           	10000</br>
			  	             ~
			  	           </br>12000</p>
			  	 	  	</li>
			  	 	  	<li  data-price1="12000" data-price2="15000">
			  	           <p class="word">RMB</p>
			  	           <p class="num">
			  	           	12000</br>
			  	             ~
			  	           </br>15000</p>
			  	 	  	</li>
			  	 	  	<li data-price1="15000" data-price2="20000">
			  	           <p class="word">RMB</p>
			  	           <p class="num">
			  	           	15000</br>
			  	             ~
			  	           </br>20000</p>
			  	 	  	</li>
			  	 	  </ul>
			  	   </div>
			  	   <div class="new1_pr_left">
			  	 	   <div class="new1_titel">
			  	 	   </div>
			  	 	   <div class="new1_js">
			  	 	   </div>
			  	  </div>
			  	<div class="next_step" id="next_step_1">	
			  	</div>
			  </div>
			   <!--二步-->
			   <div class="new_lr_body_2 js_select_part clear">
			  	  <div class="new2_con clear">
			  	  	 <div class="new2_left">	
			  	  	 </div>
			  	  	 <div class="new2_right"> 	
			  	  	 </div>
			  	  </div>
                  <div class="new2_step clear">
                  	<input type="hidden" id="theme_one" />
                  	<input type="hidden" id="theme_two" />
                  	<ul class="new2_step_list">
                  		<li data-id="奢华浪漫系">
                  		  <p>奢华浪漫系</p>
                  		</li>
                  		<li data-id="唯美梦幻系">
                  		  <p>唯美梦幻系</p>
                  		</li>
                  		<li data-id="简约清新系">
                  		  <p>简约清新系</p>	
                  		</li>
                  		<li data-id="复古中国风">
                  		  <p>复古中国风</p>	
                  		</li>
                  	</ul>
                  </div>
			  	  <div class="next_step" id="next_step_2">	
			      </div>
			   </div>
			   <!--三步-->
			   <div class="new_lr_body_3 js_select_part clear">
			  	 <p class="new3_title">
			  	 	  选择您喜欢的色调
			  	 </p>
			  	 <div class="new3_con">
			  	 	<input type="hidden" id="atmosphere_one" />
			  	 	<input type="hidden" id="atmosphere_two" />
			  	 	<ul class="new3_list">
			  	 		<li class="new3_li_0" data-id="纯白色">
			  	 			<div class="new3_lbox">
			  	 				
			  	 			</div>
			  	 			<div class="selectBox">
			  	 			</div>
			  	 		</li>
			  	 		<li class="new3_li_1" data-id="浪漫紫">
			  	 			<div class="new3_lbox">
			  	 				
			  	 			</div>
			  	 			<div class="selectBox">
			  	 			</div>
			  	 		</li>
			  	 		<li class="new3_li_2" data-id="大气金">
			  	 			<div class="new3_lbox">
			  	 				
			  	 			</div>
			  	 			<div class="selectBox">
			  	 			</div>
			  	 		</li>
			  	 		<li class="new3_li_3" data-id="可爱粉">
			  	 			<div class="new3_lbox">
			  	 				
			  	 			</div>
			  	 			<div class="selectBox">
			  	 			</div>
			  	 		</li>
			  	 		<li class="new3_li_4" data-id="田园绿">
			  	 			<div class="new3_lbox">
			  	 				
			  	 			</div>
			  	 			<div class="selectBox">
			  	 			</div>
			  	 		</li>
			  	 		<li class="new3_li_5" data-id="海洋蓝">
			  	 			<div class="new3_lbox">
			  	 				
			  	 			</div>
			  	 			<div class="selectBox">
			  	 			</div>
			  	 		</li>
			  	 		<li class="new3_li_6" data-id="中国红">
			  	 			<div class="new3_lbox">	
			  	 			</div>
			  	 			<div class="selectBox">
			  	 			</div>
			  	 		</li>
			  	 	</ul>
			  	 </div>
			  	 <div class="next_step" id="next_step_3">	
			     </div>
			   </div>
			   <!--四步-->
			   <div class="new_lr_body_4 js_select_part clear">
			  	   <div class="new4_con">
			  	   	  <div class="new4_left">
                      <p class="title">我要办婚礼</p>
			  	   	  <div class="form" id="form">
			  	   	  	 <div class="form-control">
			  	   	  	 	<select class="city_select">
			  	   	  	 		<option>
                                                             婚礼城市
                                 </option>
	      	  		   	 	     <option v-for="yx in YX">
                                    {{yx.text}}
                                 </option>
			  	   	  	 	</select>
			  	   	  	 </div>
			  	   	  	 <div class="form-control">
			  	   	  	 	<input type="text" placeholder="选择婚期" id="date"/>
			  	   	  	 </div>
			  	   	  	  <div class="form-control">
			  	   	  	 	<input type="text" placeholder="姓名" v-model="name" />
			  	   	  	 </div>
			  	   	  	 <div class="form-control">
			  	   	  	 	<input type="text" placeholder="手机号" v-model="tel"/>
			  	   	  	 </div>
			  	   	  	 <div class="form-control">
			  	   	  	 	<a class="go_btn" v-on:click="action">立即提交</a>
			  	   	  	 </div>
			  	   	  </div>
			  	   </div>
			  	   <div class="new4_right">
			  	   	  <div class="new4_bg">
			  	   	  	  
			  	   	  </div>
			  	   </div>
			  	   </div>
			   </div>
			  <div class="nav_bottom clear">
				 <div class="nav_left">
				 </div>
				 <div class="step_ct">
					<ul class="step_sub clear">
						<li style="background-image: url('http://s.jingzhizx.com/hl/w/img/step_icon_1.png');  background-position: -45px 0px;"></li>
						<li style="background-image: url('http://s.jingzhizx.com/hl/w/img/step_icon_2.png');"></li>
						<li style="background-image: url('http://s.jingzhizx.com/hl/w/img/step_icon_3.png');"></li>
						<li style="background-image: url('http://s.jingzhizx.com/hl/w/img/step_icon_4.png');"></li>
					</ul>
					<div class="cover_layer"></div>
				 </div>
				 <div class="nav_right">
				 </div>
			  </div>
			<!--轮播点击-->
			</div><!--contents_lr end-->
		 </div>
		<script type="text/javascript" src="/templets/zzxhao.com/style/jquery-2.1.1.min.js" ></script>
		<script type="text/javascript" src="/templets/zzxhao.com/style/gather.js" ></script>
		<script type="text/javascript" src="/templets/zzxhao.com/style/animateBackground-plugin.js" ></script>
		<script type="text/javascript" src="/templets/zzxhao.com/style/private.js" ></script>	
		<script type="text/javascript" src="/templets/zzxhao.com/style/city.js" ></script>
        <script type="text/javascript" src="/templets/zzxhao.com/style/WdatePicker.js" ></script>
		<script type="text/javascript" src="/templets/zzxhao.com/style/vue.js" ></script>
		<script type="application/javascript">
		  var app = new Vue({
			 el: '#form',		
			  data:{	   		  
	   		   	name:"",
	   		  	tel:"",
	   		  	yuyuetime:"",
	   		   	YX:""
	   		  },
	   		 mounted:function(){
		          this.YX=getList();
	         },  
	   		  methods:{
	   		  	action:function(){
	   		  		if($(".city_select").find("option:selected").val()=="婚礼城市"){
	   		 		  	hunli.alert('请确定城市！');
	   		 		}else if($("#date").val().length<=0){
	   		 			hunli.alert('请选择婚期！');
	   		 		}
	   		 		else if(this.name.length<=0){
                        hunli.alert('姓名不能为空！'); 	
	  	 	        }else if(this.tel.length<=0){
                         hunli.alert('手机号不能为空！');  	
	  	 	        }  
	  	 	        else if(!(/^1[34578]\d{9}$/.test(this.tel))){
                        hunli.alert('手机号格式不对！');   
	  	 	        }else{
	  	 	        	var params={
		                tel:this.tel,
		                name:this.name,
		                city:$(".city_select").find("option:selected").val(),
		                yuyuetime:$("#date").val(),
		                callback:function(){
					          hunli.alert('恭喜您！已提交成功！'); 
		                  }
	                   }
	                  onsubmit(params);	
	  	 	        }
	   		  	}
	   		  }
	  })
			
			
			$(document).ready(function(){
				$("#date").dateSelect();
				var priceLow = 0;//低价
                var priceHigh = 0;//高价
                var themeCount = 0;//主题风格
                 var themeOne="";
                var themeTwo="";
                var atosCount=0;//色调
                var atmosphereOne="";
                var atmosphereTwo="";
		//价格区间选择
	    $('.pr_list  li').each(function(){
	    	$(this).click(function(){
		    	$('.pr_list li').removeClass('selected');
		    	$(this).addClass('selected');
		    	priceLow = $(this).attr("data-price1");
		    	priceHigh = $(this).attr("data-price2");
		    	$("#priceLow").val(priceLow);
		    	$("#priceHigh").val(priceHigh);
		    })
	    })
         //主题选择
	    $('.new2_step_list li').click(function(){
	    	var themediv = $(this);
	    	if(themediv.hasClass('selected')){
	    		themeCount --;
	    		themediv.removeClass('selected');
	    		if($('#theme_one').val()==themediv.attr("data-id")){
	    			$('#theme_one').val("");
	    		}
	    		if($('#theme_two').val()==themediv.attr("data-id")){
	    			$('#theme_two').val("");
	    		}
	    	}else{
	    		themeCount ++;
	    		if(themeCount > 2){
	    			themeCount = 2;
		    		hunli.alert('最多可以选择两项');
		    	}else{
		    		themediv.addClass('selected');
		    		if(themeCount == 1){
		    			themeOne = $(this).attr("data-id");
		    			$('#theme_one').val(themeOne);
		    		} else if(themeCount == 2){
		    			themeTwo = $(this).attr("data-id");	
		    			$('#theme_two').val(themeTwo);
		    		}
		    	}	    		
	    	}
	    })
   //色调
	$('.new3_list li').click(function(){
	    	var atosDiv = $(this);
	    	if(atosDiv.hasClass('selected')){
	    		if($('#atmosphere_one').val()==atosDiv.attr("data-id")){
	    			$('#theme_one').val("");
	    		}
	    		if($('#atmosphere_two').val()==atosDiv.attr("data-id")){
	    			$('#atmosphere_two').val("");
	    		}
	    		atosCount --;
	    		atosDiv.removeClass('selected');
	    	}else{
	    		atosCount ++;
	    		if(atosCount > 2){
	    			atosCount = 2;
		    		hunli.alert('最多可以选择两项');
		    	}else{
		    		atosDiv.addClass('selected');
		    		if(atosCount == 1){
		    			atmosphereOne = $(this).attr("data-id");
		    			$('#atmosphere_one').val(atmosphereOne);
		    		} else if(atosCount == 2){
		    			atmosphereTwo = $(this).attr("data-id");	
		    			$('#atmosphere_two').val(atmosphereTwo);
		    		}
		    	}	    		
	    	}
	      }) 
	       $("input").placeholder(); 
	   })	
		</script>
	</body>
</html>

<!--侧边固定客服模块-->
<!--<script language="javascript" src="/templets/zzxhao.com/style/LsJS.aspx"></script>-->

